<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Doctors</title>
</head>
<body>
<!--/*@thymesVar id="doctor" type="com.yg.OnlineClinic.model.Doctor"*/-->

<h1 th:text=" 'List of Doctors' ">Doctors List</h1>

<table id="doctors" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.firstName + ' ' + doctor.lastName}"></td>
        <td><span th:each="specialty : ${doctor.specialities}"
                  th:text="${specialty.description + ' '}" /> <span
                th:if="${doctor?.specialities?.size() == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>